[Unit]
Description=sub

[Service]
User=root
#Environment=BTFS_PATH=/btfs/btfsl/.btfs
ExecStart=farmrun
#KillSignal=SIGINT # gracefully kill the process when stopping the service. Allows node to unregister cleanly.
Restart=always
RestartSec=10
StartLimitInterval=12
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

